# App configs
PORT=
PASSWORD_SALT=

# Nest Observability configs
APP_KEY=
APP_SECRET=
SERVICEID=

# Postgres Database configs Docker
POSTGRES_USER_DOCKER=       
POSTGRES_PASSWORD_DOCKER= 
POSTGRES_DATABASE_DOCKER=

# Prisma Database Config
DATABASE_URL="postgresql://POSTGRES_USER_DOCKER:POSTGRES_PASSWORD_DOCKER@localhost:5432/POSTGRES_DATABASE_DOCKER?schema=public"